.vs*/
.git/
**/build/**/*.map
dev-server/
node_modules/
src/
test/
travis/

.editorconfig
.travis.yml
appveyor.yml
iobroker*.*.tgz
tslint.json
tsconfig.json
webpack.*.js*

# Local debugging password
*_password.json
deploy_local.*

Thumbs.db

# NYC coverage files
coverage
.nyc*

# maintenance scripts
maintenance/**
